datasets/
embeddings_datasets/

models/
dinov3/

*.pth
*.pt
*.ckpt
*.h5
*.pkl
*.pb
*.onnx
*.tflite

__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
dist/
build/
*.egg

.venv/
venv/
env/

.ipynb_checkpoints/

logs/
*.log

.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db
